@import './designSystem'

.arms
  .tabs
    +row
    border-bottom: rem(2) solid rgba($hex-black, .07)

    li
      +col

      button
        background-color: rgba($hex-white, .5)
        padding: rem(7) 0
        width: 100%
        font-weight: 700
        color: rgba($hex-black, .5)

      &.current
        button
          background-color: $hex-light
          color: $hex-black

  .notice
    padding: rem(23)

    li
      margin: rem(7) 0
      padding-left: rem(12)
      position: relative

      &::before
        position: absolute
        top: rem(8)
        left: 0
        content: ''
        width: rem(4)
        height: rem(4)
        background-color: $hex-white
        border-radius: rem(4)

.contents
  background-color: $hex-light
  color: $hex-black

  .current-container
    +row
    gap: rem(23)

    > p
      padding: rem(72) rem(23)
      text-align: center

    > div
      display: flex
      flex-direction: column
      gap: rem(23)

      +mq(minMedium)
        +col

      .headline
        display: flex
        padding: rem(23) rem(23) 0

        +mq(maxSmall)
          flex-direction: column
          gap: rem(7)

        +mq(minMedium)
          justify-content: space-between
          align-items: flex-end

      h3
        display: flex
        align-items: flex-end
        gap: rem(7)
        font-size: rem(24)
        font-weight: 500
        color: rgba($hex-black, .7)

        strong
          font-size: rem(32)
          font-weight: 700
          color: $hex-black

      > h3
        padding: rem(23) rem(23) 0

      dl
        display: flex
        flex-direction: column
        padding: rem(7) 0

        +mq(minMedium)
          padding: 0

        div
          display: flex
          justify-content: space-between
          gap: rem(12)
          padding: rem(7) rem(24)

          &:nth-of-type(odd)
            background-color: rgba($hex-black, .27)

  .all-container
    +row

    .theme-item
      +row

      &.today
        background-color: $hex-bg

        dl
          color: $hex-white

        button, h3, h4
          span
            color: $hex-light

        .current
          dl
            color: $hex-black

      h3
        width: 33.33%
        height: 100%
        border-right: 1px solid rgba($hex-black, .2)
        border-bottom: 1px solid rgba($hex-black, .2)

        +mq(minMedium)
          width: 20%

        +mq(minExtraLarge)
          width: 14.28%

      .themes
        display: flex
        flex-wrap: wrap
        +col

        .item
          border-top: 1px solid rgba($hex-black, .2)
          width: 100%

        +mq(minMedium)
          .item
            width: 50%

            &:nth-of-type(even)
              button
                span
                  &:first-of-type
                    border-left: 1px solid rgba($hex-black, .2)

        +mq(minExtraLarge)
          .item
            width: 33.33%

            &:nth-of-type(even)
              button
                span
                  &:first-of-type
                    border-left: 0!important

            &:nth-of-type(3n+2), &:nth-of-type(3n+3)
              button
                span
                  &:first-of-type
                    border-left: 1px solid rgba($hex-black, .2)!important

      .current
        background-color: rgba($hex-accent, .5)

        h4
          span
            font-weight: 700
            color: $hex-black

        &:not(.active)
          opacity: .2

      .active
        .controller
          opacity: 1

          button
            span
              font-weight: 700

      p
        padding-top: rem(7)
        padding-bottom: rem(7)
        text-align: center

      .detail-content
        border: 5px solid #D8272E

      dl
        display: flex
        flex-direction: column
        padding: rem(7) 0

        +mq(minMedium)
          padding: 0

        div
          display: flex
          justify-content: space-between
          gap: rem(12)
          padding: rem(7) rem(24)

          &:nth-of-type(odd)
            background-color: rgba($hex-black, .27)

    .controller
      opacity: .5

      &.active
        opacity: 1

        button
          background-color: $hex-bg
          font-weight: 700
          opacity: 1

          span
            font-weight: 700
            color: $hex-white

    .controller, h3
      border-bottom: 1px solid rgba($hex-black, .2)

    h3, h4
      height: rem(50)

    button, h3, h4
      display: flex
      justify-content: space-between
      background-color: transparent
      color: $hex-black
      width: 100%

      span
        display: flex
        justify-content: center
        align-items: center
        +col
        height: rem(50)
        border-left: 1px solid rgba($hex-black, .2)
        font-size: rem(16)
        font-weight: 400
        text-align: center

        &:first-of-type
          border-left: 0
