@import './designSystem'

header.header
  display: flex
  flex-direction: column
  background-color: rgba($hex-white, .1)

  h1
    display: flex
    justify-content: space-between
    padding: rem(17) 0 rem(17) rem(25)

    a
      display: inline-flex

      &:first-of-type
        width: rem(152)
        height: rem(24)

        svg
          width: rem(152)
          height: rem(24)

      &:last-of-type
        padding: 0 rem(25)

        strong
          font-size: rem(16)
          font-weight: 700
          color: $hex-white
          text-decoration: underline

    span
      +screen-reader-only

  .font-controller
    display: flex
    justify-content: flex-end
    gap: rem(7)
    padding: rem(23)

    button
      background-color: rgba($hex-black, .72)
      border-radius: rem(3)
      padding: rem(3) rem(7)

nav.gnb
  position: sticky
  top: env(safe-area-inset-top)
  z-index: 777
  padding-top: rem(23)
  background-color: rgba($hex-bg, .7)
  backdrop-filter: blur(rem(20))

  .menu
    display: flex
    overflow-x: auto
    gap: rem(2)
    width: 100%
    height: rem(33)
    margin: 0
    margin-bottom: rem(23)
    scroll-behavior: smooth

    &:-webkit-scrollbar
      display: none

    li
      flex: 0 0 auto

      &:first-of-type
        padding-left: rem(23)

      &:last-of-type
        padding-right: rem(23)

      a
        display: flex
        align-items: center
        border-bottom: rem(2) solid transparent
        padding: 0 rem(12)
        height: rem(32)
        color: $hex-white
        font-size: rem(18)
        font-weight: 400
        opacity: .5

        span
          padding-bottom: rem(7)

      &.current
        a
          border-bottom-color: $hex-white
          font-weight: 700
          opacity: 1

footer.footer
  position: relative
  z-index: 2700
  display: flex
  flex-direction: column
  gap: rem(3)
  background: $hex-bg
  padding: 0 rem(23) rem(23)
  font-size: rem(14)

  p
    font-weight: 700

  ul
    li
      margin: rem(7) 0
      padding-left: rem(7)
      position: relative

      &::before
        position: absolute
        top: 0
        left: 0
        content: '- '

.login
  display: flex
  justify-content: center

  fieldset
    display: flex
    flex-direction: column
    gap: rem(23)
    padding: rem(72) rem(23)
    max-width: rem(370)

    p
      padding-bottom: rem(23)
      font-size: rem(18)
      font-weight: 700
      text-align: center

    .group
      display: flex
      align-items: center
      gap: rem(23)

      &:first-of-type
        opacity: .1

      label
        display: inline-flex
        justify-content: flex-end
        width: rem(62)
        line-height: 1

      .usr
        position: relative

      .usr, .pwd
        +col

        label
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%

          span
            +screen-reader-only

      input
        background-color: transparent
        border: 1px solid rgba($hex-light, .7)
        border-radius: rem(3)
        padding: rem(3) rem(7)
        width: 100%
        color: $hex-white

    .button
      text-align: center

      button
        position: relative
        background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
        border-radius: rem(3)
        padding: rem(12) 0
        width: rem(200)

        span
          font-size: rem(24)
          font-weight: 800
          color: $hex-white

        svg
          position: absolute
          top: 50%
          right: rem(12)
          transform: translateY(-50%)
          width: rem(20)
          height: rem(20)

.list, .detail
  padding: rem(52) rem(23)
  min-height: calc(100vh - rem(254))

.list
  display: flex
  flex-direction: column
  gap: rem(32)
  position: relative

  .noti
    position: absolute
    top: 0
    left: 0

    a
      display: block
      width: rem(20)
      height: rem(20)

      span
        +screen-reader-only

  > p
    display: flex
    justify-content: center
    align-items: center
    min-height: calc(100vh - rem(254))

  .toolbox
    display: flex
    margin: 0 auto
    width: 100%
    max-width: rem(570)

    +mq(maxExtraSmall)
      flex-wrap: wrap

    li
      +mq(maxExtraSmall)
        width: 50%
        padding-bottom: rem(32)

      +mq(minSmall)
        +col

      a
        display: flex
        flex-direction: column
        align-items: center
        gap: rem(12)

        svg
          width: rem(52)
          height: rem(52)

        span
          font-size: rem(16)
          color: $hex-white
          text-align: center

  .matching
    display: flex
    flex-wrap: wrap

    li
      padding: rem(7) 0
      width: 100%

      +mq(minLarge)
        width: 50%

        &:nth-of-type(odd)
          padding-right: rem(7)

        &:nth-of-type(even)
          padding-left: rem(7)

        &:last-of-type
          width: 100%

      +mq(minXXLarge)
        width: 33.33%

        &:nth-of-type(odd), &:nth-of-type(even)
          padding-right: rem(7)
          padding-left: rem(7)

      .item
        background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
        display: flex
        flex-direction: column
        gap: rem(2)
        border-radius: rem(3)
        padding: rem(2)
        height: 100%

        a, dl
          background-color: $hex-bg

        a
          display: flex
          justify-content: space-between
          align-items: center
          padding: 0 rem(12)
          width: 100%
          height: rem(43)
          color: $hex-white
          text-align: center

          > strong, > span
            display: flex
            align-items: center
            gap: rem(7)

          > strong
            font-size: rem(20)
            font-weight: 500

          > span
            strong
              font-size: rem(16)
              font-weight: 900

          svg
            width: rem(20)
            height: rem(20)

        dl
          display: flex
          flex-direction: column
          flex-grow: 1
          padding: rem(12)

          div
            display: flex
            flex-direction: column
            gap: rem(3)
            border-top: 1px solid rgba($hex-white, .5)
            padding: rem(12) 0

            &:first-of-type
              border-top: 0
              padding-top: 0

            &:last-of-type
              padding-bottom: 0

            dt, dd
              display: flex
              gap: rem(12)

              strong
                display: flex
                align-items: center
                width: rem(110)
                height: rem(26)
                font-size: rem(18)
                font-weight: 500
                line-height: 1
                white-space: nowrap

            dt
              span
                display: flex
                flex-wrap: wrap
                gap: rem(5)

                em
                  display: inline-flex
                  margin-right: rem(5)
                  border-radius: rem(3)
                  padding: rem(1) rem(7)
                  background-color: rgba($hex-white, .2)
                  font-weight: 500
                  font-style: normal
                  color: $hex-white
                  white-space: nowrap

            dd
              padding-top: 1px

              span
                +col

.detail
  margin: 0 auto
  max-width: rem(1020)
  width: 100%

  h1
    font-size: rem(27)
    margin-bottom: rem(23)

  .content
    h2
      +visually-hidden-focusable
      position: static
      margin: rem(12) 0
      font-size: rem(20)

      &:last-of-type
        margin-top: rem(32)

      &::before
        content: '['

      &::after
        content: ']'

    ul, ol
      margin: rem(3) 0
      padding-left: rem(23)

      li
        margin: rem(3) 0

        strong
          font-weight: 900
          color: orange

    ul
      list-style-type: disc

    ol
      list-style-type: decimal

  .backbutton
    display: flex
    justify-content: center
    padding: rem(72) 0

    a
      position: relative
      background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
      border-radius: rem(3)
      padding: rem(12) 0
      width: rem(270)
      text-align: center

      svg
        position: absolute
        top: 50%
        left: rem(12)
        transform: translateY(-50%)
        width: rem(24)
        height: rem(24)

      span
        font-size: rem(24)
        font-weight: 800
        color: $hex-white

.util
  display: flex
  flex-direction: column
  padding: rem(23)

  h1
    +screen-reader-only

  > div
    display: flex
    flex-direction: column
    align-items: center
    gap: rem(23)
    padding: rem(23) 0

  .backbutton
    display: flex
    justify-content: center
    padding: rem(72) 0

    a
      position: relative
      background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
      border-radius: rem(3)
      padding: rem(12) 0
      width: rem(270)
      text-align: center

      svg
        position: absolute
        top: 50%
        left: rem(12)
        transform: translateY(-50%)
        width: rem(24)
        height: rem(24)

      span
        font-size: rem(24)
        font-weight: 800
        color: $hex-white

.units
  form
    fieldset
      display: flex
      flex-direction: column
      width: 100%

      .group
        +row
        overflow: hidden
        border-radius: rem(3)

        +mq(maxExtraSmall)
          flex-direction: column

        label
          +screen-reader-only

        input, select, button
          border: 0
          padding-right: rem(23)
          padding-left: rem(23)
          height: rem(38)
          font-size: rem(20)
          color: $hex-white

          +mq(maxExtraSmall)
            width: 100%

        input, select
          background-color: transparent
          outline: 0

        input::placeholder
          color: rgba($hex-white, .5)

        .value
          background-color: rgba($hex-white, .2)
          width: rem(270)

        .selectbox
          background-color: rgba($hex-black, .2)
          width: rem(120)
          padding-right: rem(12)

          select
            width: 100%

        .button
          display: inline-flex
          width: auto

          button
            background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
            font-weight: 700

        .value, .selectbox, .button
          +mq(maxExtraSmall)
            width: 100%

  dl
    display: flex
    flex-direction: column
    gap: rem(3)
    width: 100%

    div
      display: flex
      gap: rem(23)

      dt, dd
        font-size: rem(20)

      dt
        font-weight: 700

      &:not(.default)
        flex-direction: column
        gap: 0
        margin-top: rem(12)
        border-top: 1px solid rgba($hex-white, .5)
        padding-top: rem(12)

        dt
          +screen-reader-only

        dd
          display: flex

          strong
            &::before
              content: '/'
              padding: 0 rem(5)

            &:first-of-type::before
              display: none

.alliances
  form
    max-width: rem(570)
    width: 100%

    &.reward-column, &.reward-row
      fieldset
        .group
          flex-direction: row
          gap: rem(17)

          label
            justify-content: flex-end

          > div
            width: rem(100)

          label
            display: flex
            align-items: center
            font-size: rem(16)
            text-align: right

    &.reward-row
      max-width: none

      fieldset
        flex-direction: row
        flex-wrap: wrap
        gap: 0

        .group
          width: 50%

          +mq(minXXLarge)
            width: 25%

          &:nth-of-type(even)
            label
              padding-left: rem(23)

          label
            +col
            font-size: rem(16)

    &.reward-column
      fieldset
        .group
          +row
          justify-content: center
          padding-bottom: 0

          label
            width: calc(100% - rem(117))
            font-size: rem(14)
            letter-spacing: -.07em

          ~ .button
            padding-top: rem(23)

    fieldset
      display: flex
      flex-direction: column
      gap: rem(7)
      border: rem(2) solid rgba($hex-white, .5)
      border-radius: rem(3)
      padding: rem(25)
      width: 100%

      label
        font-size: rem(20)
        font-weight: 700

      input, select
        background-color: transparent
        outline: 0
        border: 0
        padding-left: rem(12)
        padding-right: rem(12)
        width: 100%
        height: rem(48)
        font-size: rem(16)
        color: $hex-white

      input::placeholder
        color: rgba($hex-white, .5)

      .group
        display: flex
        flex-direction: column
        gap: rem(7)
        padding-bottom: rem(23)

        ~ .button
          padding-top: 0

      .value, .selectbox
        background-color: rgba($hex-white, .2)

      .selectbox
        padding-right: rem(12)

        select
          width: 100%

      .button
        padding-top: rem(23)
        width: 100%

        button
          width: 100%
          height: rem(57)
          background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
          font-size: rem(24)
          font-weight: 700
          color: $hex-white

    input, select, button
      color: $hex-black

  .result
    display: flex
    flex-direction: column
    gap: rem(23)
    background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
    border-radius: rem(3)
    padding: rem(102) rem(72) rem(23)
    width: 100%

    +mq(maxMedium)
      max-width: rem(570)
      padding: rem(102) rem(52) rem(23)

    .paragraphes
      padding-top: rem(53)
      text-align: center

      +mq(minLarge)
        padding-top: rem(37)

    p
      font-size: rem(18)
      font-weight: 500

      +mq(minLarge)
        font-size: rem(20)

.progress-sections
  display: flex
  flex-direction: column
  gap: rem(152)

  .progress-section
    display: flex
    position: relative
    width: 100%
    height: rem(10)

.progress-container
  position: relative
  height: rem(10)
  width: 100%

  .progress-content
    display: flex

    > div
      + col

      &.progress-bar-before
        border-radius: rem(20) 0 0 rem(20)
        padding-right: 0

        .progress-fill
          border-radius: rem(5) 0 0 rem(5)

      &.progress-bar-after
        border-radius: 0 rem(20) rem(20) 0
        padding-left: 0

        .progress-fill
          border-radius: 0 rem(5) rem(5) 0

  .progress-bar
    display: flex
    align-items: center
    position: relative
    background-color: rgba($hex-black, .5)
    border-radius: rem(20)
    padding: rem(2)
    width: 100%

    .progress-fill
      transition: width 0.3s ease
      background-color: #4caf50
      border-radius: rem(5)
      height: rem(5)

    .progress-box, .progress-score
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      transform: translateX(-50%)
      position: absolute
      padding: rem(2) rem(12)
      width: rem(80)
      white-space: nowrap

    .progress-box
      justify-content: flex-end
      align-items: center
      bottom: rem(23)
      transform: translateX(-50%)
      background-color: rgba($hex-white, .35)
      border-radius: rem(3)

      &.open
        background-color: rgba($hex-white, .75)

        svg, span
          opacity: 1

        svg
          path
            fill: $hex-red

      svg, span
        opacity: .35

      span
        color: $hex-black
        font-size: rem(16)

      svg
        width: rem(30)
        height: rem(30)

        path
          fill: $hex-black

    .progress-score
      bottom: rem(-48)
      transform: translateX(-50%)
      gap: rem(5)

      &.open
        span
          opacity: 1

      span
        opacity: .35

      svg
        width: rem(30)
        height: rem(30)

      span
        opacity: .35
        border-radius: rem(3)
        padding: rem(7) rem(17)
        background-color: $hex-white
        color: $hex-black
        font-size: rem(12)

.arms
  form
    max-width: rem(570)
    width: 100%

    fieldset
      display: flex
      flex-direction: column
      gap: rem(7)
      border: rem(2) solid rgba($hex-white, .5)
      border-radius: rem(3)
      padding: rem(25)
      width: 100%

      label
        font-size: rem(20)
        font-weight: 700

      input, select
        background-color: transparent
        outline: 0
        border: 0
        padding-left: rem(12)
        padding-right: rem(12)
        width: 100%
        height: rem(48)
        font-size: rem(16)
        color: $hex-white

      input::placeholder
        color: rgba($hex-white, .5)

      .group
        display: flex
        flex-direction: column
        gap: rem(7)
        padding-bottom: rem(23)

        ~ .button
          padding-top: 0

      .value, .selectbox
        background-color: rgba($hex-white, .2)

      .selectbox
        padding-right: rem(12)

        select
          width: 100%

      .button
        padding-top: rem(23)
        width: 100%

        button
          width: 100%
          height: rem(57)
          background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
          font-size: rem(24)
          font-weight: 700
          color: $hex-white

    input, select, button
      color: $hex-black

    &.armsCalc
      max-width: none

      dl
        display: flex
        flex-direction: column
        gap: rem(12)
        border-top: 1px solid rgba($hex-white, .5)
        padding-top: rem(23)

        &:first-of-type
          border-top: 0
          padding-top: 0

        dt
          font-size: rem(20)
          font-weight: 800

        > div
          +row

          +mq(maxMedium)
            flex-direction: column

          dd
            flex-direction: row

            +mq(minLarge)
              width: 50%

            +mq(minXXLarge)
              width: 25%

            &:nth-of-type(even)
              label
                padding-left: rem(23)

            label
              display: flex
              align-items: center
              justify-content: flex-end
              +col
              font-size: rem(16)
              text-align: right

            .value
              width: rem(100)

  .result
    display: flex
    flex-direction: column
    gap: rem(23)
    border-radius: rem(3)
    width: 100%

    .progress-container
      span
        position: absolute
        transform: translateX(-50%)

    .result-badges
      display: flex
      align-items: center
      flex-direction: column
      gap: rem(7)
      background: linear-gradient(90deg, #FBF9D1 0%, #FCBD5B 100%)
      border-radius: rem(3)
      padding: rem(53) rem(53) rem(23) rem(23)

      .badges-result
        display: flex
        align-items: center
        gap: rem(23)
        width: 100%

      dl
        &.badge
          dt
            +screen-reader-only

          dd
            position: relative

            svg
              width: rem(58)
              height: rem(58)

            strong
              position: absolute
              top: rem(9)
              left: 50%
              transform: translateX(-50%)
              font-size: rem(16)
              font-weight: 900
              color: $hex-black

            span
              +screen-reader-only

        &.score
          display: flex
          gap: rem(7)

          dt, dd
            color: $hex-black

          dt::after
            content: ': '

          dd
            font-weight: 800

      .progress-container
        background-color: rgba($hex-black, .2)

        .progress-fill
          background-color: #F9B832

        span
          display: flex
          flex-direction: column
          align-items: center
          gap: rem(5)
          top: rem(-51)

          svg
            width: rem(38)
            height: rem(38)

          strong
            position: relative
            font-size: rem(16)
            font-weight: 900

            span
              position: absolute
              top: 50%
              left: 50%
              z-index: 1
              transform: translate(-50%, -50%)
              color: $hex-black

            i
              display: block
              background-color: #F9B832
              transform: rotate(45deg)
              width: rem(25)
              height: rem(25)
              border: rem(3) solid #E6951B
              border-radius: rem(3)

            em
              +screen-reader-only

    .result-theme
      display: flex
      gap: rem(53)
      background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
      border-radius: rem(3)
      padding: rem(23) rem(32) rem(53)
      color: $hex-black

      +mq(maxMedium)
        flex-direction: column

      +mq(minLarge)
        flex-wrap: wrap
        padding: rem(23) rem(53) rem(53)

      .result-theme-item
        +mq(minLarge)
          width: calc(50% - rem(27))

        +mq(minXXLarge)
          width: calc(33% - rem(32))

        dl
          display: flex
          gap: rem(23)

          dd
            font-weight: 700

        .progress-container
          padding: rem(53) rem(12) rem(23)

        .progress-bar
          > span
            display: flex
            flex-direction: column
            align-items: center
            top: rem(-45)

            i:first-of-type
              svg
                width: rem(32)
                height: rem(32)

            span
              +screen-reader-only

            strong
              font-size: rem(16)
              font-weight: 900

.notification
  padding: 0!important

  .alarm
    display: flex
    flex-direction: column
    gap: rem(52)
    margin: 0 auto
    padding: 0 rem(23)
    width: 100%
    max-width: rem(570)

    h3
      font-size: rem(24)
      text-align: center

    ul
      margin-left: rem(23)
      list-style-type: disc

      li
        margin: rem(5) 0

    .table
      margin: 0 auto
      width: 100%
      overflow: auto

      table
        caption-side: bottom
        border-collapse: collapse
        width: 100%
        vertical-align: top

        tr
          th, td
            padding: rem(12)
            text-align: center
            white-space: nowrap

          th
            background-color: rgba($hex-white, .7)
            font-weight: 900
            color: $hex-black

          td
            vertical-align: top
            border-bottom: 1px solid rgba($hex-white, .5)

            &:first-of-type
              font-weight: 700

    .form
      width: 100%

      fieldset
        display: flex
        flex-direction: column
        overflow: hidden
        border-radius: rem(3)
        max-width: rem(570)
        width: 100%

      .selectors
        +row

        +mq(maxExtraSmall)
          flex-direction: column

        .selector
          +col

          input, select
            display: block
            border: 0
            padding: 0 rem(12)
            width: 100%
            height: rem(37)
            font-size: rem(20)
            color: $hex-white

          input
            background-color: $hex-black

          select
            appearance: initial
            background: $hex-black no-repeat url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjk5OTkgMTQuMDcxTDguMTc4OTEgMTAuMjVDNy43NjQ5MSA5LjgzNiA3LjA5MjkxIDkuODM2IDYuNjc4OTEgMTAuMjVDNi4yNjQ5MSAxMC42NjQgNi4yNjQ5MSAxMS4zMzYgNi42Nzg5MSAxMS43NUwxMS4yOTI5IDE2LjM2NEMxMS42ODM5IDE2Ljc1NSAxMi4zMTY5IDE2Ljc1NSAxMi43MDY5IDE2LjM2NEwxNy4zMjA5IDExLjc1QzE3LjczNDkgMTEuMzM2IDE3LjczNDkgMTAuNjY0IDE3LjMyMDkgMTAuMjVDMTYuOTA2OSA5LjgzNiAxNi4yMzQ5IDkuODM2IDE1LjgyMDkgMTAuMjVMMTEuOTk5OSAxNC4wNzFaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4=) 99% 50%/rem(24) rem(24)

      .submit
        button
          background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
          width: 100%
          height: rem(63)
          font-size: rem(20)
          font-weight: 700
