@import './designSystem'

header.header
  display: flex
  flex-direction: column
  background-color: rgba($hex-white, .1)

  h1
    display: flex
    justify-content: space-between
    padding: rem(17) 0 rem(17) rem(25)

    a
      display: inline-flex

      &:first-of-type
        width: rem(152)
        height: rem(24)

        svg
          width: rem(152)
          height: rem(24)

      &:last-of-type
        padding: 0 rem(25)

        strong
          font-size: rem(16)
          font-weight: 700
          color: $hex-white
          text-decoration: underline

    span
      +screen-reader-only

  .font-controller
    display: flex
    justify-content: flex-end
    gap: rem(7)
    padding: rem(23)

    button
      background-color: rgba($hex-black, .72)
      border-radius: rem(3)
      padding: rem(3) rem(7)

nav.gnb
  position: sticky
  top: env(safe-area-inset-top)
  z-index: 777
  padding-top: rem(23)
  background-color: rgba($hex-bg, .7)
  backdrop-filter: blur(rem(20))

  .menu
    display: flex
    overflow-x: auto
    gap: rem(2)
    width: 100%
    height: rem(33)
    margin: 0
    margin-bottom: rem(23)
    scroll-behavior: smooth

    &:-webkit-scrollbar
      display: none

    li
      flex: 0 0 auto

      &:first-of-type
        padding-left: rem(23)

      &:last-of-type
        padding-right: rem(23)

      a
        display: flex
        align-items: center
        border-bottom: rem(2) solid transparent
        padding: 0 rem(12)
        height: rem(32)
        color: $hex-white
        font-size: rem(18)
        font-weight: 400
        opacity: .5

        span
          padding-bottom: rem(7)

      &.current
        a
          border-bottom-color: $hex-white
          font-weight: 700
          opacity: 1

footer.footer
  position: relative
  z-index: 2700
  display: flex
  flex-direction: column
  gap: rem(3)
  background: $hex-bg
  padding: 0 rem(23) rem(23)
  font-size: rem(14)

  p
    font-weight: 700

  ul
    li
      margin: rem(7) 0
      padding-left: rem(7)
      position: relative

      &::before
        position: absolute
        top: 0
        left: 0
        content: '- '

.login
  display: flex
  justify-content: center

  fieldset
    display: flex
    flex-direction: column
    gap: rem(23)
    padding: rem(72) rem(23)
    max-width: rem(370)

    p
      padding-bottom: rem(23)
      font-size: rem(18)
      font-weight: 700
      text-align: center

    .group
      display: flex
      align-items: center
      gap: rem(23)

      &:first-of-type
        opacity: .1

      label
        display: inline-flex
        justify-content: flex-end
        width: rem(62)
        line-height: 1

      .usr
        position: relative

      .usr, .pwd
        +col

        label
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%

          span
            +screen-reader-only

      input
        background-color: transparent
        border: 1px solid rgba($hex-light, .7)
        border-radius: rem(3)
        padding: rem(3) rem(7)
        width: 100%
        color: $hex-white

    .button
      text-align: center

      button
        position: relative
        background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
        border-radius: rem(3)
        padding: rem(12) 0
        width: rem(200)

        span
          font-size: rem(24)
          font-weight: 800
          color: $hex-white

        svg
          position: absolute
          top: 50%
          right: rem(12)
          transform: translateY(-50%)
          width: rem(20)
          height: rem(20)

.list, .detail
  padding: rem(52) rem(23)
  min-height: calc(100vh - rem(254))

.list
  > p
    display: flex
    justify-content: center
    align-items: center
    min-height: calc(100vh - rem(254))

  ul
    display: flex
    flex-wrap: wrap

    li
      padding: rem(7) 0
      width: 100%

      +mq(minLarge)
        width: 50%

        &:nth-of-type(odd)
          padding-right: rem(7)

        &:nth-of-type(even)
          padding-left: rem(7)

        &:last-of-type
          width: 100%

      +mq(minXXLarge)
        width: 33.33%

        &:nth-of-type(odd), &:nth-of-type(even)
          padding-right: rem(7)
          padding-left: rem(7)

      .item
        background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
        display: flex
        flex-direction: column
        gap: rem(2)
        border-radius: rem(3)
        padding: rem(2)
        height: 100%

        a, dl
          background-color: $hex-bg

        a
          display: flex
          justify-content: space-between
          align-items: center
          padding: 0 rem(12)
          width: 100%
          height: rem(43)
          color: $hex-white
          text-align: center

          > strong, > span
            display: flex
            align-items: center
            gap: rem(7)

          > strong
            font-size: rem(20)
            font-weight: 500

          > span
            strong
              font-size: rem(16)
              font-weight: 900

          svg
            width: rem(20)
            height: rem(20)

        dl
          display: flex
          flex-direction: column
          flex-grow: 1
          padding: rem(12)

          div
            display: flex
            flex-direction: column
            gap: rem(3)
            border-top: 1px solid rgba($hex-white, .5)
            padding: rem(12) 0

            &:first-of-type
              border-top: 0
              padding-top: 0

            &:last-of-type
              padding-bottom: 0

            dt, dd
              display: flex
              gap: rem(12)

              strong
                display: flex
                align-items: center
                height: rem(26)
                font-size: rem(18)
                font-weight: 500
                line-height: 1
                white-space: nowrap

            dt
              span
                display: flex
                flex-wrap: wrap
                gap: rem(5)

                em
                  display: inline-flex
                  margin-right: rem(5)
                  border-radius: rem(3)
                  padding: rem(1) rem(7)
                  background-color: rgba($hex-white, .2)
                  font-weight: 500
                  font-style: normal
                  color: $hex-white
                  white-space: nowrap

            dd
              align-items: center

.detail
  margin: 0 auto
  max-width: rem(1020)
  width: 100%

  h1
    font-size: rem(27)
    margin-bottom: rem(23)

  .content
    h2
      +visually-hidden-focusable
      position: static
      margin: rem(12) 0
      font-size: rem(20)

      &:last-of-type
        margin-top: rem(32)

      &::before
        content: '['

      &::after
        content: ']'

    ul, ol
      margin: rem(3) 0
      padding-left: rem(23)

      li
        margin: rem(3) 0

        strong
          font-weight: 900
          color: orange

    ul
      list-style-type: disc

    ol
      list-style-type: decimal

  .backbutton
    display: flex
    justify-content: center
    padding: rem(72) 0

    a
      position: relative
      background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
      border-radius: rem(3)
      padding: rem(12) 0
      width: rem(270)
      text-align: center

      svg
        position: absolute
        top: 50%
        left: rem(12)
        transform: translateY(-50%)
        width: rem(24)
        height: rem(24)

      span
        font-size: rem(24)
        font-weight: 800
        color: $hex-white

.util
  display: flex
  flex-direction: column
  padding: rem(23)

  h1
    +screen-reader-only

  > div
    padding: rem(72) 0

  .backbutton
    display: flex
    justify-content: center
    padding: rem(72) 0

    a
      position: relative
      background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
      border-radius: rem(3)
      padding: rem(12) 0
      width: rem(270)
      text-align: center

      svg
        position: absolute
        top: 50%
        left: rem(12)
        transform: translateY(-50%)
        width: rem(24)
        height: rem(24)

      span
        font-size: rem(24)
        font-weight: 800
        color: $hex-white

.units
  display: flex
  flex-direction: column
  align-items: center
  gap: rem(23)

  form
    fieldset
      display: flex
      flex-direction: column
      width: 100%

      .group
        +row
        overflow: hidden
        border-radius: rem(3)

        label
          +screen-reader-only

        input, select, button
          border: 0
          padding-right: rem(23)
          padding-left: rem(23)
          height: rem(38)
          font-size: rem(20)
          color: $hex-white

        input, select
          background-color: transparent
          outline: 0

        input::placeholder
          color: rgba($hex-white, .5)

        .value, .selectbox
          background-color: rgba($hex-white, .2)

        .value
          width: rem(270)

          +mq(maxExtraSmall)
            width: calc(100% - rem(120))

        .selectbox
          width: rem(120)
          padding-right: rem(12)

          select
            width: 100%

        .button
          display: inline-flex
          width: auto

          +mq(maxExtraSmall)
            width: 100%

            button
              width: 100%
              height: rem(57)

          button
            background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
            font-weight: 700

      input, select, button
        color: $hex-black

  dl
    display: flex
    flex-direction: column
    gap: rem(3)
    width: 100%

    div
      display: flex
      gap: rem(23)

      dt, dd
        font-size: rem(20)

      dt
        font-weight: 700

      &:not(.default)
        flex-direction: column
        gap: 0
        margin-top: rem(12)
        border-top: 1px solid rgba($hex-white, .5)
        padding-top: rem(12)

        dt
          +screen-reader-only

        dd
          display: flex

          strong
            &::before
              content: '/'
              padding: 0 rem(5)

            &:first-of-type::before
              display: none
