@import './designSystem'

.events
  background-color: rgba($hex-red, .5)

.special
  background-color: rgba($hex-blue, .5)

.events, .special
  display: flex
  gap: rem(12)
  padding: rem(17) rem(25)

  +mq(maxSmall)
    flex-direction: column

  +mq(minMedium)
    gap: rem(27)

  h3
    display: flex
    align-items: flex-start
    gap: rem(2)
    font-size: rem(18)
    font-weight: 700
    width: rem(200)

    +mq(minMedium)
      padding-top: rem(12)

    span
      display: flex
      justify-content: center
      align-items: center
      width: rem(26)
      height: rem(26)

      svg
        width: rem(18)
        height: rem(18)

  p, ul
    border: 1px solid rgba($hex-white, .5)
    border-radius: rem(3)
    padding: rem(12)

  ul
    display: flex
    flex-direction: column
    gap: rem(12)

    +mq(minMedium)
      gap: rem(7)

    li
      display: flex
      border-top: 1px solid rgba($hex-white, .5)
      padding-top: rem(7)

      +mq(maxSmall)
        flex-wrap: wrap
        position: relative

        time
          text-align: right

      &:first-of-type
        border-top: 0
        padding-top: 0

      +mq(minMedium)
        gap: rem(23)

      cite
        width: rem(133)

        +mq(maxSmall)
          width: 100%

      strong
        width: rem(190)

      time
        +mq(maxSmall)
          position: absolute
          bottom: 0
          right: 0

        +mq(minMedium)
          width: rem(65)
          text-align: right

        span
          border-radius: rem(3)
          padding: 0 rem(7)

        &.time
          span
            background-color: $hex-light
            color: $hex-black

        &.ing
          span
            background-color: $hex-red
            color: $hex-accent
            font-weight: 700
            color: $hex-white

        &.due
          span
            opacity: .5
            background-color: $hex-white
            color: $hex-black
