@import './designSystem'

footer.footer
  position: relative
  z-index: 2700
  display: flex
  flex-direction: column
  gap: rem(3)
  background-color: $hex-black
  padding: rem(36) rem(23) calc(rem(23) + env(safe-area-inset-bottom))
  font-size: rem(14)

  p
    font-weight: 700

  ul
    li
      margin: rem(7) 0
      padding-left: rem(7)
      position: relative

      &::before
        position: absolute
        top: 0
        left: 0
        content: '- '
