@import './designSystem'

header.header
  display: flex
  flex-direction: column
  background-color: rgba($hex-white, .1)

  h1
    display: flex
    position: relative

    +mq(maxExtraSmall)
      flex-direction: column

    +mq(minSmall)
      align-items: center

    a
      display: inline-flex

      &:first-of-type, &:last-of-type
        span
          +screen-reader-only

      &:first-of-type
        padding: rem(17) rem(25)
        width: rem(253)
        height: rem(58)

        svg
          width: rem(203)
          height: rem(24)

      // &:nth-of-type(2)
      //   display: flex
      //   font-size: rem(20)
      //   color: $hex-white

      //   +mq(maxExtraSmall)
      //     padding: 0 rem(25) rem(17)

      //   +mq(minSmall)
      //     &::before
      //       content: '·'
      //       padding-right: rem(7)

      //   span
      //     text-decoration: underline
      //     font-size: rem(20)
      //     color: $hex-white

      &:last-of-type
        position: absolute
        top: 0
        right: 0
        width: rem(58)
        height: rem(58)

        +mq(maxExtraSmall)
          width: rem(104)
          height: rem(104)

  .font-controller
    display: flex
    justify-content: flex-end
    gap: rem(7)
    padding: rem(23)

    button
      background-color: rgba($hex-black, .72)
      border-radius: rem(3)
      padding: rem(3) rem(7)

  .group
    +row

    +mq(maxSmall)
      flex-direction: column

    > h3
      padding: rem(23)

    &:not(.show)
      .button
        width: 100%

      > h3, > div:not(.button)
        +screen-reader-only

    .button
      padding: rem(23)
      text-align: right

      +mq(minExtraLarge)
        padding: 0 rem(23)
        width: rem(160)

      button
        display: inline-flex
        align-items: center
        width: auto
        background-color: transparent
        border: 1px solid
        border-radius: rem(3)
        padding: rem(7)
        font-weight: 700
        color: $hex-white
        line-height: 1

nav.gnb
  position: sticky
  top: env(safe-area-inset-top)
  z-index: 777
  padding-top: rem(23)
  background-color: rgba($hex-bg, .7)
  backdrop-filter: blur(rem(20))

  .menu
    display: flex
    overflow-x: auto
    gap: rem(2)
    width: 100%
    height: rem(33)
    margin: 0
    margin-bottom: rem(23)
    scroll-behavior: smooth

    &:-webkit-scrollbar
      display: none

    li
      flex: 0 0 auto

      &:first-of-type
        padding-left: rem(23)

      &:last-of-type
        padding-right: rem(23)

      a
        display: flex
        align-items: center
        border-bottom: rem(2) solid transparent
        padding: 0 rem(12)
        height: rem(32)
        color: $hex-white
        font-size: rem(18)
        font-weight: 400
        opacity: .5

        span
          padding-bottom: rem(7)

      &.current
        a
          border-bottom-color: $hex-white
          font-weight: 700
          opacity: 1
