@import './designSystem'

.home
  display: flex
  flex-direction: column
  gap: rem(72)
  padding: rem(52) 0 rem(72)

  .primary
    display: flex
    flex-direction: column
    gap: rem(23)
    padding-top: rem(52)
    +fw(500)

    +mq(minSmall)
      +fw(700)

    h1
      text-align: center
      font-size: rem(27)

      +mq(minSmall)
        font-size: rem(37)

      strong
        color: $hex-blue

      span
        display: block
        margin-top: rem(7)

    ul
      display: flex
      justify-content: center
      gap: rem(17)

      +mq(minSmall)
        gap: rem(23)

      a
        transition: all .5s cubic-bezier(.5,0,.2,0)
        display: flex
        align-items: center
        gap: rem(12)
        border: rem(2) solid rgba($hex-light, .2)
        border-radius: rem(3)
        padding: rem(12) rem(15)
        color: $hex-light
        font-size: rem(14)

        +mq(minSmall)
          gap: rem(7)
          padding: rem(12) rem(17)
          font-size: rem(23)

        svg
          width: rem(14)
          height: rem(14)

          +mq(minSmall)
            width: rem(20)
            height: rem(20)

          path
            fill: $hex-light
            transition: all .5s cubic-bezier(.5,0,.2,0)

        &:hover, &:focus
          background-color: $hex-white
          border-color: $hex-white
          color: $hex-black

          svg
            path
              fill: $hex-black

.secondary
  display: flex
  flex-direction: column
  gap: rem(37)
  +fw(500)

  +mq(minSmall)
    +fw(700)

  .resources
    display: flex
    flex-direction: column
    gap: rem(12)

    h3
      text-align: center
      font-size: rem(23)

      +mq(minSmall)
        font-size: rem(27)

    ol
      display: flex
      flex-wrap: wrap
      justify-content: center

      li
        font-size: rem(14)

        +mq(minSmall)
          font-size: rem(20)

        a
          display: flex
          align-items: center
          gap: rem(5)
          padding: rem(12) rem(15)
          width: rem(170)

          +mq(minSmall)
            justify-content: center
            padding: rem(17) rem(23)
            width: rem(237)

          span
            color: $hex-light
            letter-spacing: -.03em

          svg
            path[fill="white"]
              fill: $hex-light
