@import './designSystem'

.home
  display: flex
  flex-direction: column
  gap: rem(23)
  padding-top: rem(52)

  p
    text-align: center
    font-size: rem(22)
    font-weight: 600

  ul
    display: flex
    flex-wrap: wrap
    padding: 0 rem(23)

    li
      padding: rem(7) 0
      width: 100%

      +mq(minMedium)
        width: 50%

        &:nth-of-type(1)
          padding-right: rem(7)

        &:nth-of-type(2)
          padding-left: rem(7)

        &:nth-of-type(3)
          width: 100%

        &:nth-of-type(4)
          padding-right: rem(7)

        &:nth-of-type(5)
          padding-left: rem(7)

      .item
        display: flex
        flex-direction: column
        border: rem(2) solid rgba($hex-white, .2)
        border-radius: rem(3)
        height: 100%

        a
          display: flex
          justify-content: space-between
          align-items: center
          padding: 0 rem(12)
          width: 100%
          height: rem(43)
          color: $hex-white
          text-align: center

          > span, > strong
            display: flex
            align-items: center
            gap: rem(7)

          > span
            span
              font-size: rem(20)
              font-weight: 500

          > strong
            span
              font-size: rem(16)
              font-weight: 900

          svg
            width: rem(20)
            height: rem(20)

        > div
          border-top: rem(2) solid rgba($hex-white, .2)
          padding: rem(12)

.currentTheme, .currentArms
  dl
    display: flex
    flex-direction: column

    dt, dd
      font-size: rem(16)

    dt
      margin-bottom: rem(12)
      font-weight: 700

    dd
      display: flex
      flex-wrap: wrap
      gap: rem(7)

      strong
        display: inline-flex
        border-radius: rem(3)
        padding: rem(3) rem(7)
        background-color: rgba($hex-white, .2)
        font-weight: 500
        color: $hex-white
        white-space: nowrap

.currentShowdown
  > dl
    display: flex
    flex-direction: column

    > dt, > dd
      font-size: rem(16)

    > dt
      margin-bottom: rem(12)
      font-weight: 700

    > dd
      dl
        display: flex
        flex-direction: column
        gap: rem(12)

        dt
          display: flex
          justify-content: space-between

        dd
          display: flex
          flex-wrap: wrap
          gap: rem(7)

          strong
            display: inline-flex
            border-radius: rem(3)
            padding: rem(3) rem(7)
            background-color: rgba($hex-white, .2)
            font-weight: 500
            color: $hex-white
            white-space: nowrap

.searchBase, .searchDrone
  display: flex
  flex-direction: column
  flex-grow: 1
  gap: rem(12)
  padding: rem(12)

  form
    fieldset
      +row
      overflow: hidden
      border-radius: rem(3)

      legend
        width: 1px

      select, button
        padding-right: rem(12)
        padding-left: rem(12)
        height: rem(38)
        font-size: rem(20)

      .selectbox
        +col
        background-color: rgba($hex-white, .2)

        select
          background-color: transparent
          width: 100%

      .button
        display: inline-flex
        width: auto

        button
          background: linear-gradient(90deg, $hex-blue 0%, $hex-red 100%)
          font-weight: 700

  p
    display: flex
    justify-content: center
    flex-direction: column
    flex-grow: 1
    font-size: rem(16)
    font-weight: 700

  dl
    +row
    flex-direction: column
    gap: rem(5)

    div
      display: flex

    dt, dd
      font-size: rem(20)

    dt
      width: rem(137)
      font-weight: 400

    dd
      +col
      font-weight: 700
